.contain {

  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28%, 2fr));
  margin: 45px 0 45px;

  @media (max-width: 575.98px) {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35%, 2fr));
    margin: 47px auto 45px auto;
  }



  select {
    border: 1px solid #ebebeb;
    border-radius: 10px 0 0 10px;
    font-family: RobotoCondensed-Regular;
    font-size: 17px;
    position: relative;

    ::after {
      position: absolute;
      padding: 10px;
    }
  }

  input {
    border: 1px solid #ebebeb;
    font-family: RobotoCondensed-Regular;
    font-size: 17px;

    ::-webkit-input-placeholder {
      padding-left: 10px;
    }

  }

  .boton {
    border: 1px solid #ebebeb;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 0 10px 10px 0;
    @media (max-width: 575.98px) {
    display: none;
    }

    img {
      width: 20px !important;
      height: 20px !important;
    }


  }


}
