@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '../../../assets/scss/media-queries';



.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
      width: 55px !important;
      height: 55px !important;
      cursor: pointer;
    }

    h3 {
      margin-left: 10px;
      font-size: 20px;
      font-family: RobotoCondensed-Bold;
      line-height: 15px;

      small {
        font-family: RobotoCondensed-Bold;
        font-size: 15px;
        color: #d70000;
      }
    }
  }

  .car {
    .number {
      border-radius: 9px;
      background: green;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1px;
      position: absolute;
      position: absolute;
      top: 44px;
      right: 58px;

      p {
        color: white;
        font-size: 10px;
        z-index: 100;
      }
    }

    img {
      width: 40px !important;
      height: 40px !important;
      cursor: pointer;
      z-index: -1;
    }
  }
}

.banner-section {
  margin-top: 10px;

  h1 {
    color: #328bbf;
    ;
    font-family: RobotoCondensed-Bold;

  }
}

.filter-section {

}

.products-section {
  h1 {
    color: #cdcda4;
    font-family: RobotoCondensed-Bold;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 10px;

    div {
      border: 0.5px solid #efeeee;

      &:hover {
        transition: all 1s ease;
        transform: scale(1.01);
        -webkit-box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.75);
        box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.75);
        cursor: pointer;
      }
    }

  }
}


//popup del detalle
.popUp {
  background-color: rgba(0, 0, 0, 0.705);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000 !important;

  .content {
    background-color: white;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 200px);
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    -webkit-box-shadow: -1px 4px 18px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 18px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 4px 18px 0px rgba(0, 0, 0, 0.75);

    @media (max-width: 575.98px) {
      height: 470px;
      padding: 15px;
      width: 100%;
      position: absolute;
      top: calc(50% - 235px);
      }

    .close {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;

      img {
        width: 15px !important;
        height: auto !important;
        position: relative;
        cursor: pointer;
      }

      @media (max-width: 575.98px) {

      position: relative;
      right: 20px;
      top: 20px;
        }



    }

    .imagen {
      margin: 0 auto 0 auto;

      img {
        width: 100px !important;
        height: 100px !important;
      }
    }

    .txt {
      h2 {
        font-family: RobotoCondensed-Bold !important;
      }

      small {
        font-family: RobotoCondensed-Light;
      }

      p {
        font-family: RobotoCondensed-Regular;
        font-size: 20px;
      }

      @media (max-width: 575.98px) {
        padding: 30px;
        }



    }

    .options {
      button {
        border: none;
        background-color: white;
        cursor: pointer;

        img {
          width: 25px !important;
          height: auto !important;
          @media (max-width: 575.98px) {
            width: 50px !important;
          height: auto !important;
            }
        }

        &:hover {
          transition: all 1s ease;
          transform: scale(1.09);
        }
      }

      @media (max-width: 575.98px) {
        display: flex;
        justify-content: center;
        }


    }
  }
}
