carousel {
border: 1px solid #f4f4f4;
z-index: 1;
}


::ng-deep img {
  width: 200px !important;
  height: 400px !important;
  object-fit: contain !important;
}

::ng-deep .carousel-cell {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
